<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Login</title>
  <meta name="description" content="">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <style>
  	.center-block{
  		width:40%;
  		margin-top:10%;
  	}
  	.alert{
  		margin-top:100px;
  		width:60%;
  		margin:0 auto;
  	}
  	.right{
  		float:right;
  	}
  </style>
</head>
<body>
	<div class="center-block">
			<% if (message.length > 0 && message_type == "info") { %>
				<div class="alert alert-info"><%= message %></div>
			<% }else if (message.length > 0 && message_type == "success") {%>
				<div class="alert alert-success"><%= message %></div>
			<% }else if(message.length > 0){ %>
				<div class="alert alert-danger"><%= message %></div>
			<% }%>

		<form action="/forget" method="post">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input name="email" type="email" class="form-control" placeholder="Email">
		  </div>			
		  <button type="submit" class="btn btn-default right">Send</button>
		</form>
	</div>
</body>